@font-face {font-family: BukhariScript; src: url(Bukhari_Script.otf);}
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);

h2 {font-family: 'BukhariScript', cursive; color: #3f494b;}
h1 {font-family: 'Fjalla One', sans-serif; color: #1f213d;}


header {text-align: center; margin: 0px}

#menu-toggle {
  display: none; /* hide the checkbox */
}
#menu {
  display: none;
}
#menu-toggle:checked + #menu {
  display: block;
  float: right;
  padding: 10px ;
  border: solid #f1e4ec;
  margin: 0 10px;
  background-color: #fefbfc;
  font-family: 'Fjalla One', sans-serif; 
  font-color: #c2c2c2;

}

#favicon_menu {
	disply: inline-block; 
	float: right;}


menu {text-align: center;}



a {
	text-decoration: none; 
	color: white; }

.plink{font-family: 'Fjalla One', cursive; color: darkslategrey; display: block; text-align: center; padding: 3px;}
p{font-family: 'Fjalla One', cursive; color: darkslategrey;text-align: center }

a.toggle {color:dimgray; padding: 1px; margin: 5px 1px;}

#menus {background-color: black;display: block}

#menuswhite {background-color: black;display: block}

    menuitem {
	font-family: 'Fjalla One'; 
	display: line-block;
	text-align: center;
	padding: 2% 5%;
    font-size: 1em;
    }

menuitem:hover{opacity: 0.6;}

ul {list-style-type: none; text-align: center; margin: 0 0 }

.img {width: 30%; height: auto; display: inline; float: right; margin: 1%;}
#boxes {width:90%; float: center; text-align: center;}

.column {width: 100%; height: auto; display: inline; float: center; margin: 5% 1%;}
  
#column1 {width: 45%; float: left;  margin-left: 3% ; padding-left: 0%; }
#column2 {width: 45%; float: right; margin-right: 4%; padding-left: 0%; }

#hor{display: block;}


@media (max-width: 800px) { 
	.img {width: 47%; height: auto; display: inline; float: right; margin: 1%;}
    #column1 {width: 100%; float: center;  margin: 0 0; padding-left: 0; padding-right: 50px; }
    #column2 {width: 100%; float: center; margin: 0 0; padding-left: 0;
    margin: 1%;}
    #hor {width: 90%; float: center;}

    
}




@media (max-width: 500px) {
    
    #menus {background: url(menubackground.jpg); background-size: 100%; background-repeat: none;}
   
     #hor {width: 100%; float: center;}
    a.homew {color:white; font-size: 0.8rem}
    menuitem{padding: 1.5%;}

    
menuitem.home { 
display: block; 
				text-align: center;
				padding: 50px;
				margin: 43px;
				margin-bottom: 0px;
				margin-top: 0px;
			}
    
menuitem:hover{opacity: 0.6;}

ul {list-style-type: none; text-align: center; margin: 0 0 }

.img, #boxes {width: 100%; float: center;}
#column1 {width: 100%; float: center; }
#column2 {width: 100%; float: center; }
}
    
}


